<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado Liebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" /> <!--LINK para acceder a iconos  creados por equipo de diseño -->

    <!-- LINKS  FUENTE ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    
<link rel="stylesheet" href="./css/styles.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
<link rel="stylesheet" href="./css/mediaque.css"> <!--Llamo documento CSS que contiene los estilos de media queries -->


</head>

<nav> </nav>

<body>
    <!-- HEADER --> <!-- Header contiene, logo, secciones de busqueda, compra y opciones con listas-->
     <header>  
         <nav class="encabezado">
             <!-- LOGO -->
             <nav id="logo"><figure><img src= "/images/logo-mercado-liebre.svg" alt ="Logo de Mercado Liebre"></figure></nav>
            </nav>
    
    <!--SECCIÓN DE BUSQUEDA-->
<section>
    
     <nav class="buscar"> 
        <h3>Lugar para poner la barra de búsqueda <i class="fa-solid fa-magnifying-glass"></i></h3>
     </nav>

<!-- BARRA DE NAVEGACIÓN CON OPCIONES -->
<section>
    <nav class="pagar">
    <p> <h3><i class="fa-solid fa-hand-holding-dollar"></i><b>Compra en cuotas y sin tarjeta de crédito</b></h3></p>
    </nav>
</section>
    

</section>
<!-- SECCIÓN Lista opciones 1 -->
<section>
    <nav class="opciones1">
    <ul>
        <li><a href ="">Tiendas Oficiales</a></li>
        <li><a href ="">Vender</a></li>
        <li><a href ="">Ofertas</a></li>
        <li><a href ="">Ayuda</a></li>
    </ul>
</nav>
</section>
<!-- SECCIÓN Lista opciones 2 -->
<section>
    <nav class="opciones2">
    <ul>
        <li><a href = "">Crea tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
        <li><a href = "">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href = "">Mis Compras</a> <i class="fa-solid fa-cart-shopping"></i></i></li> 
    </ul>
</nav>
</section>

<!--  MENÚ TIPO HAMBURGUESA -->

<nav class="burger-menu">
<nav id="menu">
    <a href  =""><i class="fas fa-bars"></i></a>
</nav>
</nav>

    </header>
    
    <!--      SECCIÓN BANNER      -->
<section class="homebanner">
    <nav id="banner"><figure><img src= "/images/img-home-banner.jpg" alt ="Banner"></figure></nav>
</section>


     <!-- MAIN  --> <!-- Contiene los productos en dos secciones-->
     <main>
<!--SECCIÓN 1: Basado en tu última visita-->
<nav class="ultimavisita">
    <h2>Última Visita</h2>
<section class="producto">  
    <figure><img src= "/images/img-cafetera-moulinex.jpg" alt ="Cafetera Moulinex"></figure>
    <nav class="descripciongeneral">
    <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$6.770</p>
    <p class="descuento">40% OFF</p>
    <p class="detalleproducto">Cafetera Moulinex</p>
</nav>
</section>

<section class="producto"> 
    <figure><img src= "/images/img-macbook-pro-2019.jpg" alt ="Macbook Pro 2019"></figure>
    <nav class="descripciongeneral">
    <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$230.000</p>
    <p class="descuento">20% of</p>
    <p class="detalleproducto">MacBook Pro 2019</p>
</nav>
</section>

<section class="producto"> 
    <figure><img src= "/images/img-samsung-galaxy-s10.jpg" alt ="Samsung Galaxy S10"></figure>
    <nav class="descripciongeneral">
    <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$70.500</p>
    <p class="descuento">10% of</p>
    <p class="detalleproducto">Samsung Galaxy S10</p>
</nav>
</section>

<section class="producto"> 
    <figure><img src= "/images/img-tv-samsung-smart.jpg" alt ="Smart TV Samsung"></figure>
   <nav class="descripciongeneral">
    <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$23.200</p>
    <p class="descuento">5% of</p>
    <p class="detalleproducto">SmartTv Samsung 43"</p>
</nav> 
</section>

</nav><!-- Fin clase Ultima Visita-->

<!--SECCIÓN 2: OFERTAS-->
<nav class="ofertas">
    <h2>¡¡OFERTAS!!</h2>
<section class="producto"> 
    <figure><img src= "/images/img-cafetera-moulinex.jpg" alt ="Cafetera Moulinex"></figure>
    <nav class="descripciongeneral">
    <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$6.770</p>
    <p class="descuento">40% OFF</p>
    <p class="detalleproducto">Cafetera Moulinex</p>
</nav>
</section>

<section class="producto"> 
    <figure><img src= "/images/img-macbook-pro-2019.jpg" alt ="Macbook Pro 2019"></figure>
    <nav class="descripciongeneral">
        <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$230.000</p>
    <p class="descuento">20% of</p>
    <p class="detalleproducto">MacBook Pro 2019</p>
</nav>
</section>

<section class="producto"> 
    <figure><img src= "/images/img-samsung-galaxy-s10.jpg" alt ="Samsung Galaxy S10"></figure>
    <nav class="descripciongeneral">
        <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$70.500</p>
    <p class="descuento">10% of</p>
    <p class="detalleproducto">Samsung Galaxy S10</p>
</nav>
</section>

<section class="producto"> 
    <figure><img src = "/images/img-tv-samsung-smart.jpg" alt ="Smart TV Samsung"></figure>
    <nav class="descripciongeneral">
        <nav id="camionenvio"><i class="fa-solid fa-truck"></i></nav>
    <p class="precio">$23.200</p>
    <p class="descuento">5% of</p>
    <p class="detalleproducto">SmartTv Samsung 43"</p>
</nav>
</section>

</nav><!-- Fin clase Ofertas-->

     </main>


     <!-- FOOTER o pie de página -->
     <footer>
<section>
    <nav class="pagotarjeta">
        <nav id="credit">
    <i class="fa-solid fa-credit-card"></i>
</nav>
<b>Paga con tarjeta o en efectivo </b>
    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </nav>
</section>

<section>
    <nav class="enviogratis">
    <nav id="gift">
        <i class="fa-solid fa-gift"></i>
    </nav>
    <b>Envío gratis desde $ 2.500</b>
    <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </nav>
</section>

<section>
    <nav class="protegido">
    <nav id="security">
        <i class="fa-solid fa-user-shield"></i>
    </nav>
    <b>Seguridad, de principio a fin</b>
    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </nav> 
</section>

<section>
    <nav id="derechosautor"><p><i>Copyright © 1999-2020 MercadoLiebre S.R.L</i></p>
    </nav>
</section>

     </footer>
</body>
</html>