<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Etiqueta para configurar media queries-->

    <title>Mercado Liebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!--LINK para acceder a iconos  creados por equipo de diseño -->
    <!-- LINKS  FUENTE ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles_header.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_main.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_footer.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/mediaque.css"> <!--Llamo documento CSS que contiene los estilos de media queries -->
    <link rel="stylesheet" href="./css/formularios.css"> <!--Llamo documento CSS que contiene los estilos de archivo formularios -->
    <link rel="stylesheet" href="./css/animaciones.css"> <!--Llamo documento en CSS que contiene los estilos definidos para las animaciones-->

</head>

<!--    ****************************************************************************************************************    -->
<!--    ****************************************************************************************************************    -->
<!--    **************************************************   BODY   ****************************************************    -->
<!--    ****************************************************************************************************************    -->
<!--    BODY CONTIENE TODO LO QUE VISUALIZO EN MI NAVEGADOR   -->

<body>
    
    <!--  **********************  -->
    <!--          HEADER          --> 
    <!--  **********************  -->
    <!-- Header contiene, logo, secciones de busqueda, pago y 2 opciones de navegación con listas-->
    <header>  
         <section class="encabezado">
             <nav id="logo"><!-- LOGO -->
                <a href="/"><img src= "/images/logo-mercado-liebre.svg" alt ="Logo de Mercado Liebre"></a>
            </nav>
            <!--   SECCIÓN DE BUSQUEDA   -->
            <form id="buscar"> <!--  barra de búsqueda  -->
                <input  type="search" name="Barra de busqueda" placeholder="   Buscar productos, marcas..."> 
                <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <!--   SECCIÓN FORMA DE PAGO  -->
            <section id="pagar">
                <a href="/"><h3><i class="fa-solid fa-hand-holding-dollar"></i><b>Compra en cuotas y sin tarjeta de crédito</b></h3></a>
            </section>

        </section>
        <!--  ******************************  -->
        <!-- BARRA DE NAVEGACIÓN CON OPCIONES -->
        <!--  ******************************  -->
        
        <section class="op">

            <!-- SECCIÓN Lista opciones 1 -->
            <nav id="opciones1">
                <a href ="/">Tiendas Oficiales</a>
                <a href ="/">Vender</a>
                <a href ="/">Ofertas</a>
                <a href ="/">Ayuda</a>
            </nav>
            <!-- SECCIÓN Lista opciones 2 -->
            <nav id="opciones2">
                <a href = "/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
                <a href = "/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                <a href = "/">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
            <!--  ********************  -->
            <!--  MENÚ TIPO HAMBURGUESA -->
            <!--  ********************  -->
            <nav id="burgerMenu">
                <a href  ="/login"><i class="fas fa-bars"></i></a>
            </nav>

        </section>
    </header>

    <!--  **********************  -->
    <!--      SECCIÓN BANNER      -->
    <!--  **********************  -->
     <figure id="banner"><img src= "/images/img-home-banner.jpg" alt ="Banner"></figure>

     <!--    **********    -->
     <!--       MAIN       -->
     <!--    **********    -->
     <!--Este Main contiene la información del formulario de login-->
     <main>
         
        <form class="login" action="/login.html" method="get">
            <fieldset class="log">
                <legend><h2> INGRESA </h2></legend>
                <nav class="nombreusuario">
                    <label for=""></label>
                    <input type="text" name="user" class="inputlogin" placeholder="   Nombre de Usuario o name@email.com" minlength="3" required>
                </nav>
                
                <nav class="clave">
                    <label for=""></label>
                    <input type="password" name="pass" class="inputlogin" placeholder="   Contraseña"  minlength="4" required>
                </nav>

                <nav class="boton">
                    <button type="submit" name="botonlogin" id="botonlog">Enviar</button>
                    </button>
                </nav>
            </fieldset>

        </form>        
 
    </main>

    <!--    ***********************    -->
    <!--     FOOTER o pie de página    -->
    <!--    ***********************    -->
    <footer>
        <section id="secfooter">

            <article class="pagotarjeta">
                <section id="credit"><i class="fa-solid fa-credit-card"></i></section>
                <b>Paga con tarjeta o en efectivo </b>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            
            <article class="enviogratis">
                <section id="gift"><i class="fa-solid fa-gift"></i></section>
                <b>Envío gratis desde $ 2.500</b>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            
            <article class="protegido">
                <section id="security"><i class="fa-solid fa-user-shield"></i></section>
                <b>Seguridad, de principio a fin</b>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article> 
            
            <p id="derechosautor"><i>Copyright © 1999-2020 MercadoLiebre S.R.L</i></p>

        </section>
    </footer>

</body>
</html> 
