<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Etiqueta para configurar media queries-->

    <title>Mercado Liebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!--LINK para acceder a iconos  creados por equipo de diseño -->
    <!-- LINKS  FUENTE ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles_header.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_main.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_footer.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/mediaque.css"> <!--Llamo documento CSS que contiene los estilos de media queries -->
    <link rel="stylesheet" href="./css/formularios.css"> <!--Llamo documento CSS que contiene los estilos de archivo formularios -->
    <link rel="stylesheet" href="./css/animaciones.css"> <!--Llamo documento en CSS que contiene los estilos definidos para las animaciones-->

</head>

<!--    ****************************************************************************************************************    -->
<!--    ****************************************************************************************************************    -->
<!--    **************************************************   BODY   ****************************************************    -->
<!--    ****************************************************************************************************************    -->
<!--    BODY CONTIENE TODO LO QUE VISUALIZO EN MI NAVEGADOR   -->

<body>
    
    <!--  **********************  -->
    <!--          HEADER          --> 
    <!--  **********************  -->
    <!-- Header contiene, logo, secciones de busqueda, pago y 2 opciones de navegación con listas-->
    <header>  
         <section class="encabezado">
             <nav id="logo"><!-- LOGO -->
                <a href="/"><img src= "/images/logo-mercado-liebre.svg" alt ="Logo de Mercado Liebre"></a>
            </nav>
            <!--   SECCIÓN DE BUSQUEDA   -->
            <form id="buscar"> <!--  barra de búsqueda  -->
                <input  type="search" name="Barra de busqueda" placeholder="   Buscar productos, marcas..."> 
                <a href="/"><button type="button"><i class="fa-solid fa-magnifying-glass"></i></button></a>
            </form>
            <!--   SECCIÓN FORMA DE PAGO  -->
            <section id="pagar">
                <a href="/"><h3><i class="fa-solid fa-hand-holding-dollar"></i><b>Compra en cuotas y sin tarjeta de crédito</b></h3></a>
            </section>

        </section>
        <!--  ******************************  -->
        <!-- BARRA DE NAVEGACIÓN CON OPCIONES -->
        <!--  ******************************  -->
        
        <section class="op">
            
            <!-- SECCIÓN Lista opciones 1 -->
            <nav id="opciones1">
                <a href ="/">Tiendas Oficiales</a>
                <a href ="/">Vender</a>
                <a href ="/">Ofertas</a>
                <a href ="/">Ayuda</a>
            </nav>
            <!-- SECCIÓN Lista opciones 2 -->
            <nav id="opciones2">
                <a href = "/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
                <a href = "/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                <a href = "/">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
            <!--  ********************  -->
            <!--  MENÚ TIPO HAMBURGUESA -->
            <!--  ********************  -->
            <nav id="burgerMenu">
                <a href  ="/login"><i class="fas fa-bars"></i></a>
            </nav>

        </section>
    </header>

    <!--  **********************  -->
    <!--      SECCIÓN BANNER      -->
    <!--  **********************  -->
     <figure id="banner"><img src= "/images/img-home-banner.jpg" alt ="Banner"></figure>

     <!--    **********    -->
     <!--       MAIN       -->
     <!--    **********    -->
     <!--Este Main contiene la información del formulario de registro-->
     <main>
         
         <form  class="registro" action="/register.html" method="get">
            <fieldset class="formreg">

                <legend><h2> REGÍSTRATE </h2></legend>

                <fieldset class="reg">
                    <label for="firstname"></label>
                    <input type="text" name="fullname" class="inputreg" placeholder="Nombre y apellido" minlength="3" required>
                    
                    <label for="nickname"></label>
                    <input type="text" name="nickname" class="inputreg" placeholder="Nombre de usuario" minlength="1" required> 
                    
                    <label for="fechanacimiento"><b>Fecha de Nacimiento</b></label>
                    <input type="date" name="" class="inputreg" placeholder="Fecha Nacimiento" required>
            
                    <label for="domicilio"><b>Domicilio</b></label>
                    <input type="text" name="vivienda" class="inputreg" placeholder="Dirección" required>
                </fieldset>    

                <fieldset>
                    <label for="perfil" id="tituloreg"><h3>Perfil de Usuario</h3></label>
                    <fieldset class="tipouser">
                        <p id="compra"><input type="radio" name="cov"> Comprador</p>
                        <p id="vende"><input type="radio" name="cov"> Vendedor</p>
                    </fieldset>   
                        
                    <label for="lascategorias" id="tituloreg"><h3>Categorías de Interés</h3></label>
                    <fieldset class="categorias">
                        <p id="electro"><input type="checkbox" name="check1" value="cat" >Electro</p>
                        <p id="moda"><input type="checkbox" name="check2" value="cat" >Moda</p>
                        <p id="hogar"><input type="checkbox" name="check3" value="cat" >Hogar</p>
                        <p id="jugueteria"><input type="checkbox" name="check4" value="cat" >Juguetería</p>
                        <p id="vidaSana"><input type="checkbox" name="check5" value="cat" >Vida Sana</p>
                    </fieldset>
                </fieldset>                
                
                <fieldset class="fotouser">
                    <label for="foto usuario" class="fotoreg"><h3>Foto de Usuario</h3></label>
                    <input type="file" name="avatar" class="avatarreg"> 
                </fieldset>    
                
                <fieldset class="passreg">
                    <label for="clave"></label>
                    <input type="password" name="pass" class="inputreg" placeholder="Contraseña" minlength="4" required>

                    <label for="confirmar"></label>
                    <input type="password" name="pass" class="inputreg" placeholder="Confirmar contraseña" minlength="4" required>
                </fieldset>

                <fieldset class="botonesreg">
                    <a href="/"><button type="submit" id=enviarReg>Enviar</button></a>
                    <a href="/register"><button type="reset" id="borrarReg">Borrar</button></a>
                    
                </fieldset>
                
            </fieldset>
        </form>
        
    </main>

    <!--    ***********************    -->
    <!--     FOOTER o pie de página    -->
    <!--    ***********************    -->
    <footer>
        <section id="secfooter">

            <article class="pagotarjeta">
                <section id="credit"><i class="fa-solid fa-credit-card"></i></section>
                <b>Paga con tarjeta o en efectivo </b>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            
            <article class="enviogratis">
                <section id="gift"><i class="fa-solid fa-gift"></i></section>
                <b>Envío gratis desde $ 2.500</b>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            
            <article class="protegido">
                <section id="security"><i class="fa-solid fa-user-shield"></i></section>
                <b>Seguridad, de principio a fin</b>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article> 
            
            <p id="derechosautor"><i>Copyright © 1999-2020 MercadoLiebre S.R.L</i></p>

        </section>
    </footer>

</body>
</html>