/* Estilos tomados como punto de partida, es buena práctica definirlos */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
   
/* **************  **************  **************  **************  **************  */
/* **************   ESTILOS EN HEADER Y ELEMENTOS QUE LO COMPONEN   ************** */
/* **************  **************  **************  **************  **************  */
header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    margin:auto;
}

#logo{
text-align: center;
margin: auto;

}

.buscar {
    text-align: center;
    margin: auto;
}

.pagar {
    text-align: center;
    margin: auto;
}

#menu{
    text-align: center;
    margin: auto;
    
}
.burger-menu a {
    background-color: #1259c3;
    color:white;
    width: 50px;
    height:40px;
    line-height: 40px;
    display: inline-block;
    text-align:center;
    border-radius: 8px;
    margin-bottom: 50px;
}
/*      BANNER      */
#banner figure{
    text-align: center;
    margin: auto;
}


/* **************  **************  **************  **************  **************  */
/* **************     ESTILOS EN MAIN Y ELEMENTOS QUE LO COMPONEN   ************** */
/* **************  **************  **************  **************  **************  */

main{
    text-align: center;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-bottom: 60px;
    background-color: #ebebeb;

}

main section{
    margin-bottom: 10px;
}

#camionenvio {
    margin: auto;
    text-align:justify;
    color: #39b54a;
    display: block;
    border: #39b54a solid 1px;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 100%;
}
.producto {
background-color:white;
border: #ebebeb solid 15px;
padding: 15px;
} 

.descripciongeneral{
    
   padding: 15px;
   border-top: #ebebeb solid 1px;
} 

.precio{
    color: black;
    margin-bottom: -10px;
}

.descuento {
    color: #39b54a;
    margin-bottom: 30px;
}

.detalleproducto{
    color: #666;
}

main {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

/* **************  **************  **************  **************  **************  */
/* **************    ESTILOS EN FOOTER Y ELEMENTOS QUE LO COMPONEN  ************** */
/* **************  **************  **************  **************  **************  */

footer {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 2em;
margin: auto;
}

#credit{
    color: #1259c3;
    font-size: 2em;
}
#gift{
    color: #1259c3;
    font-size: 2em;
}
#security{
    color: #1259c3;
    font-size: 2em;
}

footer .pagotarjeta{
    margin-bottom: 10px;
    color: #666;
}
footer .enviogratis{
    margin-bottom: 10px;
    color: #666;
}
footer .protegido{
    margin-bottom: 10px;
    color: #666;
}
footer p{
    color: #666; 
    margin-top: 1px; 
}