/* **************  **************  **************  **************  **************  */
/* **************   ESTILOS EN HEADER Y ELEMENTOS QUE LO COMPONEN   ************** */
/* **************  **************  **************  **************  **************  */
header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

.buscar {
    text-align: center;
    margin: auto;
}

.pagar {
    text-align: center;
    margin: auto;
}

#menu{
    text-align: center;
    margin: auto;
    
}
.burger-menu a {
    background-color: #1259c3;
    color:white;
    width: 50px;
    height:40px;
    line-height: 40px;
    display: inline-block;
    text-align:center;
    border-radius: 8px;
}


/* **************  **************  **************  **************  **************  */
/* **************     ESTILOS EN MAIN Y ELEMENTOS QUE LO COMPONEN   ************** */
/* **************  **************  **************  **************  **************  */

main{
    text-align: center;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-bottom: 40px;
}

main section{
    margin-bottom: 10px;
}



/* **************  **************  **************  **************  **************  */
/* **************    ESTILOS EN FOOTER Y ELEMENTOS QUE LO COMPONEN  ************** */
/* **************  **************  **************  **************  **************  */

footer {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 2em;
margin: auto;
}

#credit{
    color: #1259c3;
    font-size: 2em;
}
#gift{
    color: #1259c3;
    font-size: 2em;
}
#security{
    color: #1259c3;
    font-size: 2em;
}

footer .pagotarjeta{
    margin-bottom: 10px;
    color: #666;
}
footer .enviogratis{
    margin-bottom: 10px;
    color: #666;
}
footer .protegido{
    margin-bottom: 10px;
    color: #666;
}
footer p{
    color: #666;  
}